<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Example</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Customer Details</h2>
    <div>
        <form class="form-horizontal" th:object="${customer}" th:action="@{/customer}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Customer Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customerId}" th:required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Customer Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Gender</label>
                <div style="padding: 10px 12px;" class="col-sm-2">
                    <input type="radio" name="gender" value="Male" class="radio-inline" th:field="*{gender}">Male</input>
                    <input type="radio" name="gender" value="Female" class="radio-inline" th:field="*{gender}">Female</input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{phone}" th:required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="*{birth}" th:required="required"/>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
                <a class="btn-default btn" th:href="@{/customers}">Cancel</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
