<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Customer Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Customer Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${customer.id}">Customer Id</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${customer.name}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Gender:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${customer.gender}">Gender</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${customer.phone}">Phone</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${customer.formatBirth(customer.birth)}">Birth Da</p>
                </div>
            </div>
            <a class="btn-default btn" th:href="@{/customers}">Back</a>
        </form>
    </div>
</div>

</body>
</html>