<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link href="../lib/summernote/summernote-lite.css" th:href="@{/lib/summernote/summernote-lite.css}" rel="stylesheet"/>
    <script src="/lib/summernote/summernote-lite.js" th:src="@{/lib/summernote/summernote-lite.js}"></script>
</head>

<body>

</body>

</html>
