<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(customers)}">
        <h2>Customer List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Customer Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Birth Date</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"><a href="/customer/${customer.id}">Id</a></td>
                <td th:text="${customer.customerId}">Customer ID</td>
                <td th:text="${customer.name}">Name</td>
                <td th:text="${customer.gender}">Gender</td>
                <td th:text="${customer.phone}">Phone</td>
                <td th:text="${customer.formatBirth(customer.birth)}">Date</td>
                <td><a th:href="${ '/customer/' + customer.id}"><img th:src="@{/images/eye.png}" th:title="View"/></a></td>
                <td><a th:href="${'/customer/edit/' + customer.id}"><img th:src="@{/images/edit.png}" th:title="Edit"/></a></td>
                <td><a th:href="${'/customer/delete/' + customer.id}" onclick="javascript:return confirm('Are you sure you want to delete?')"><img th:src="@{/images/delete-photo.png}" th:title="Delete"/></a></td>
            </tr>
        </table>
        <a class="btn btn-default" th:href="@{/customer/new}">Add New Customer</a>
    </div>
</div>

</body>
</html>