<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.productId}">Product Id</td>
                <td th:text="${product.name}">descirption</td>
                <td th:text="${product.price}">price</td>
                <td><a th:href="${ '/product/' + product.id}"><img th:src="@{/images/eye.png}" th:title="View"/></a></td>
                <td><a th:href="${'/product/edit/' + product.id}"><img th:src="@{/images/edit.png}" th:title="Edit"/></a></td>
                <td><a th:href="${'/product/delete/' + product.id}" onclick="javascript:return confirm('Are you sure you want to delete?')"><img th:src="@{/images/delete-photo.png}" th:title="Delete"/></a></td>
            </tr>
        </table>
            <a class="btn btn-default" href="#" th:href="@{/product/new}">Add New Product</a>
    </div>
</div>

</body>
</html>